.class
*.class

*.jar
*.war
*.ear

tmp/
temp/
.vscode/
.idea/
*.iml
.project
.classpath
.settings/
nbproject/private/
build/
dist/

.DS_Store
Thumbs.db
/semana03/JavaApplication2/nbproject/private/
/semana03/Projeto03/nbproject/private/
/semana03/Projeto04/nbproject/private/
/semana03/Cadastro/nbproject/private/
